#parentbox {
    margin: auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2%;
    margin-bottom: .5%;    
}
#Lang {
    margin: auto;
    width: 95%;
    margin-bottom: 30px;
}
.box {
    /* width: 260px;
    height:  150.98px;
    padding: 6px; */
    /* opacity: 0.7;     */
    margin-bottom: 5%;
    text-align: center;
}
.box img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* opacity: 0.7; */
}
body {
    background-color: #121825;
    font-family: "Roboto","HelveticaNeue-Light",sans-serif;
}
h1 {
    color: #fffffffd;
    margin-bottom: -10px;
    font: Roboto,  "HelveticaNeue-Light",sans-serif;
    font-size: 22px;
    font-weight: 300;
}
.box:hover {
    transform: scale(1.22);
    transition: all 0.8s;
}

.box:hover > h3{
    margin-top: -35%;
    margin-left: 35%;
}
h3 {
    color:  #fffffffd;
    font: 20px Roboto,  "HelveticaNeue-Light",sans-serif;
    font-weight: 600;
    margin-top: -6%;
    margin-left: 6%;
    opacity: 1;
    position: absolute;
    z-index: 9999;
    opacity: 2;
}

@media only screen and (min-width: 421px) and (max-width: 720px) {
    #parentbox {
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2%;
        /* margin-bottom: 0.5%;     */
    }
    #Lang {
        margin: auto;
        width: 95%;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 100%;
        text-align: left;
    }
    h3 {
        margin-top: -15%;
        margin-left: 18%;
    }
}
/* small screens */
@media only screen and (min-width: 0px) and (max-width:420px){
    #parentbox {
        margin: auto;
        width: 95%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2%;
        /* margin-bottom: 0.5%;     */
    }
    #Lang {
        margin: auto;
        width: 95%;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 100%;
        text-align: center;
    }
    h3 {
        margin-top: -32%;
        margin-left: 35%;
    }
}