/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: #0c111b;
  position: relative;
  font-family: Roboto, sans-serif;
}

.navbar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4%;
  background: #0c111b;
  z-index: 10;
  display: flex;
  align-items: center;
}

.material-icons {
  color: #fff;
  padding-right: 10px;
  padding-top: 10px;
  /* width:10px; */
}
.brand-logo {
  /* height: 40px; */
  font-size: 35px;
}

.nav-links {
  margin-top: 10px;
  display: flex;
  list-style: none;
  gap: 5px;
}

.nav-links a {
  text-decoration: none;
  margin-left: 20px;
  text-transform: capitalize;
  color: #fff;
  opacity: 0.9;
}

.nav-links {
  background-color: #0f1d39;
  margin-top: 10px;
  border-radius: 0.5rem;
  padding: 10px 5px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 34px;
  display: none;
  min-width: 210px;
  z-index: 1;
  font-weight: 500;
}

.nav-links2 {
  background-color: #0f1d39;
  margin-top: 19px;
  border-radius: 0.5rem;
  padding: 10px 5px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 34px;
  display: none;
  min-width: 170px;
  z-index: 1;
  font-weight: 500;
}
.navlink {
  background-color: #0f1d39;
  margin-top: 19px;
  border-radius: 0.5rem;
  padding: 10px 5px;
  box-shadow: 0 0 1.5rem 0 rgb(0 0 0 / 10%);
  position: absolute;
  top: 105px;
  right: 5px;
  display: none;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
}

.login-link:hover .navlink {
  display: block;
}
.navbar > a:hover,
.navbar > div > a:hover {
  border-bottom: 2px solid #335cad;
}
.navbar > div {
  position: relative;
  top: 5px;
  padding: 10px;
}

.navbar > div > a,
.navbar > a {
  /* border: 1px solid; */

  padding: 14px 10px;
  position: relative;
}
.nav-links > a:hover {
  margin-left: -2px;
  color: #335cad;
  border-left: 2px solid #335cad;
}

.nav-links2 > a:hover {
  margin-left: -2px;
  color: #335cad;
  border-left: 2px solid #335cad;
}

.navlink > a:hover {
  margin-left: -2px;
  color: #335cad;
  border-left: 2px solid #335cad;
}

/* 
.dropdown{
  
  border: 2px solid red;
  color: white;
  list-style-type: none;

} */
/* 
.dropdown ul{

position: absolute;

display: flex;
flex-direction: column;

list-style-type: none;
width: 150px;
background-color: #0f1d39;
border-radius: 5px;
justify-content: space-around;
opacity: 0;
pointer-events: none;


}

.dropdown ul li{

height: 40px;
display: flex;
flex-direction: column;
justify-content: space-around;
width: 100%;
padding-left: 3%;




} */
/* 
.dropdown:hover ul{
display: block;


}

.dropdown ul li:hover{

  background-color: #000000;



} */

.nav-links > a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  display: block;
}
.nav-links2 > a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  display: block;
}

.navlink > a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  display: block;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar-items-seeking:hover .nav-links-items-seeking {
  display: block;
}
.navbar-list:hover .nav-links-items {
  display: block;
}

.nav-items {
  list-style-type: none;
  margin-top: 12px;
  margin-left: 15px;
}
.search-drop > li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

.search-drop > li:hover {
  background-color: rgb(53, 55, 57);
  transition: 0.8s;
  border-radius: 10px;
  cursor: pointer;
}

.search-drop > li > img {
  width: 50px;
  height: 50px;
  border-radius: 45px;
}

/* here tv movie hover part ends here */

.right-container {
  /* display: block; */
  margin-left: auto;
  margin-top: -80px;
  /* display:flex; */
  /* border:2px solid red; */
  /* display: flex; */
}

#search-form {
  position: absolute;
  top: 95px;
  right: 185px;
}

.search-box {
  position: relative;
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
  height: 30px;
  color: #aaa;
  width: 250px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  transition: 0.5s;
}

.search-drop {
  /* padding: 5px 20px; */
  /* max-height: 280px; */
  overflow-y: auto;
  overflow-x: auto;
  text-align: justify;
  background-color: #0f1d39;
  /* margin-top: -2px; */
  /* border-radius: 8px; */
  /* opacity: 0;
    pointer-events: none; */
  /* border:2px solid teal; */
  position: absolute;
  width: 300px;
  z-index: 9;
  /* left: 57.5%; */
  top: 95%;
  right: 180px;
  color: aliceblue;
  /* padding-bottom: 5px; */
  padding: 0px 8px;
}

.search-box:focus {
  width: 300px;
  border-color: #1f80e0;
}

.sub-btn {
  background: #1f80e0;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px;
}

.login-link {
  color: #fff;
  background-color: #0c111b;
  border: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-top: 80px;
  text-decoration: none;
}
/* carousel section starts from here */
.carousel-container {
  position: relative;
  width: 100%;
  height: 450px;
  padding: 20px 0;
  overflow-x: hidden;
  margin-top: 80px;
  z-index: 5;
  /* margin-right:60%; */
  /* color:white; */
}

.carousel {
  display: flex;
  width: 92%;
  height: 100%;

  position: relative;
  margin: auto;
  background: #000;
}

.slider {
  flex: 0 0 auto;
  margin-right: 30px;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  height: 100%;
  left: 0;
  transition: 3s;
  overflow: hidden;
}

.slider img {
  width: 80%;
  min-height: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
}

.slider-content {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, #030b17 65%, #0c111b00);
  color: #fff;
}

.movie-title {
  padding-left: 50px;
  text-transform: capitalize;
  margin-top: 80px;
}

.movie-des {
  width: 80%;
  line-height: 30px;
  padding-left: 50px;
  margin-top: 30px;
  opacity: 0.8;
}

.video-card-container {
  position: relative;
  width: 92%;
  margin: auto;
  height: 10vw;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}

.video-card {
  position: relative;
  min-width: calc(100% / 5 - 10px);
  width: calc(100% / 5 - 10px);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  background: #030b17;
}

.video-card-image,
.card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-video {
  position: absolute;
}

.video-card .video-card-image {
  display: none;
}
/* recommended for you list css starts from here i.e whole movie-content */
.title {
  color: #fff;
  opacity: 0.9;
  padding-left: 4%;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
}

.movies-list {
  width: 100%;
  height: 220px;
  position: relative;
  margin: 10px 0 20px;
}

.card-container,
.card-container1,
.card-container2,
.card-container3,
.card-container4,
.card-container5,
.card-container6 {
  position: relative;
  width: 92%;
  padding-left: 10px;
  height: 220px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.card-container1::-webkit-scrollbar {
  display: none;
}

.card-container2::-webkit-scrollbar {
  display: none;
}

.card-container3::-webkit-scrollbar {
  display: none;
}

.card-container4::-webkit-scrollbar {
  display: none;
}

.card-container5::-webkit-scrollbar {
  display: none;
}
.card-container6::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
  min-width: 150px;
  width: 150px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
  transition: 0.5s;
  /* max-width: 150px; */
  background: #030b17;
  /* border-radius: 30px; */
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.1);
}

.card:hover .card-body {
  opacity: 1;
}

.card-body {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 2;
  background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #192133 80%);
  padding: 10px;
  transition: 0.5s;
}

.name {
  color: #fff;
  font-size: x-small;
  font-weight: bolder;
  text-transform: capitalize;
  margin-top: 60%;
  margin-bottom: 2px;
  font-family: "Poppins", sans-serif;
}

.des {
  color: #fff;
  opacity: 0.8;
  margin: 5px 0;
  font-size: 8px;
}

.watchlist-btn {
  position: relative;
  width: 80%;
  text-transform: capitalize;
  background: none;
  border: none;
  font-weight: bolder;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 5px 0;
  cursor: pointer;
  padding: 10px 2px;
  border-radius: 5px;
  font-size: x-small;
}
.watchlist-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -5px;
  height: 30px;
  width: 30px;
  background-image: url(../images/add.png);
  background-size: cover;
  transform: scale(0.4);
}

.watchlist-btn:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
/* (pre-button & next button syntax) */
.pre-btn,
.nxt-btn {
  position: absolute;
  top: 0;
  width: 5%;
  height: 100%;
  z-index: 2;
  border: none;
  cursor: pointer;
  outline: none;
}
/* (pre and next button syntax ends here) */

.pre-btn {
  left: 0;
  background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.nxt-btn {
  right: 0;
  background: linear-gradient(to left, #0c111b 0%, #0c111b00);
}

.pre-btn img,
.nxt-btn img {
  width: 15px;
  height: 20px;
  opacity: 0;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

@media (max-width: 1200px) {
  .navbar .navbar-list {
    display: none;
  }

  .navbar-items-seeking {
    display: none;
  }
  .nav-items {
    display: none;
  }
}

@media (max-width: 1250px) {
  .sub-btn {
    display: none;
    /* display:table-column; */
  }
}

@media (max-width: 400px) {
  .search-box {
    /* margin-top: 500px; */
    /* display: flex; */
    display: inline;
  }
}

@media (max-width: 490px) {
  .login-link .container {
    display: none;
  }
}
